<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EasyTourism3D.Properties.ModelSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="EasyTourism3D.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <EasyTourism3D.Properties.ModelSettings>
      <setting name="CasteloAdjustment" serializeAs="String">
        <value>0,0|0,0|-1,5</value>
      </setting>
      <setting name="CasteloDimensions" serializeAs="String">
        <value>3,0|1,0|2,0</value>
      </setting>
      <setting name="CasteloSoundName" serializeAs="String">
        <value>AltarOfKingsWhat1</value>
      </setting>
      <setting name="WaygateAdjustment" serializeAs="String">
        <value>0,0|0,0|-2,0</value>
      </setting>
      <setting name="WaygateDimensions" serializeAs="String">
        <value>3,0|1,0|2,3</value>
      </setting>
      <setting name="WaygateSoundName" serializeAs="String">
        <value>GryphonAviaryWhat1.wav</value>
      </setting>
      <setting name="CityBuildingSmall0_0Adjustment" serializeAs="String">
        <value>0,0|0,0|-3,0</value>
      </setting>
      <setting name="CityBuildingSmall0_0Dimensions" serializeAs="String">
        <value>3,0|1,0|5,0</value>
      </setting>
      <setting name="CityBuildingSmall0_0SoundName" serializeAs="String">
        <value>GryphonAviaryWhat1.wav</value>
      </setting>
      <setting name="WorkshopAdjustment" serializeAs="String">
        <value>0,0|0,0|-1,0</value>
      </setting>
      <setting name="WorkshopDimensions" serializeAs="String">
        <value>3,0|1,0|3,0</value>
      </setting>
      <setting name="WorkshopSoundName" serializeAs="String">
        <value>GryphonAviaryWhat1.wav</value>
      </setting>
      <setting name="GryphonAviaryAdjustment" serializeAs="String">
        <value>0,0|0,0|0,0</value>
      </setting>
      <setting name="GryphonAviaryDimensions" serializeAs="String">
        <value>3,0|1,0|2,0</value>
      </setting>
      <setting name="GryphonAviarySoundName" serializeAs="String">
        <value>GryphonAviaryWhat1.wav</value>
      </setting>
      <setting name="AltarOfKingsAdjustment" serializeAs="String">
        <value>0,0|0,0|-1,5</value>
      </setting>
      <setting name="AltarOfKingsDimensions" serializeAs="String">
        <value>3,0|1,0|2,0</value>
      </setting>
      <setting name="AltarOfKingsSoundName" serializeAs="String">
        <value>AltarOfKingsWhat1</value>
      </setting>
      <setting name="HumanBarracksAdjustment" serializeAs="String">
        <value>1,0|0,0|0,0</value>
      </setting>
      <setting name="HumanBarracksDimensions" serializeAs="String">
        <value>3,0|1,0|3,0</value>
      </setting>
      <setting name="HumanBarracksSoundName" serializeAs="String">
        <value>WorkshopWhat1.wav</value>
      </setting>
      <setting name="BridgeObeliskAdjustment" serializeAs="String">
        <value>0,5|0,0|-2,0</value>
      </setting>
      <setting name="BridgeObeliskDimensions" serializeAs="String">
        <value>1,0|1,0|1,0</value>
      </setting>
      <setting name="BridgeObeliskSoundName" serializeAs="String">
        <value>AltarOfKingsWhat1</value>
      </setting>
      <setting name="DragonRoostBlackAdjustment" serializeAs="String">
        <value>0,0|0,0|-1,5</value>
      </setting>
      <setting name="DragonRoostBlackDimensions" serializeAs="String">
        <value>3,0|1,0|3,5</value>
      </setting>
      <setting name="DragonRoostBlackSoundName" serializeAs="String">
        <value>WorkshopWhat1.wav</value>
      </setting>
      <setting name="FrostmourneAdjustment" serializeAs="String">
        <value>0,0|0,0|-1,5</value>
      </setting>
      <setting name="FrostmourneDimensions" serializeAs="String">
        <value>1,0|1,0|1,0</value>
      </setting>
      <setting name="FrostmourneSoundName" serializeAs="String">
        <value>AltarOfKingsWhat1</value>
      </setting>
      <setting name="AltarOfEldersAdjustment" serializeAs="String">
        <value>0,0|0,0|0,0</value>
      </setting>
      <setting name="AltarOfEldersDimensions" serializeAs="String">
        <value>3,0|1,0|3,5</value>
      </setting>
      <setting name="AltarOfEldersSoundName" serializeAs="String">
        <value>AltarOfKingsWhat1</value>
      </setting>
      <setting name="GraveyardAdjustment" serializeAs="String">
        <value>0,0|0,0|-1,5</value>
      </setting>
      <setting name="GraveyardDimensions" serializeAs="String">
        <value>3,0|1,0|2,0</value>
      </setting>
      <setting name="GraveyardSoundName" serializeAs="String">
        <value>AltarOfKingsWhat1</value>
      </setting>
      <setting name="BearDenAdjustment" serializeAs="String">
        <value>0,0|0,0|-1,5</value>
      </setting>
      <setting name="BearDenDimensions" serializeAs="String">
        <value>3,0|1,0|2,0</value>
      </setting>
      <setting name="BearDenSoundName" serializeAs="String">
        <value>AltarOfKingsWhat1</value>
      </setting>
      <setting name="TreeofLifeAdjustment" serializeAs="String">
        <value>0,0|0,0|-2,5</value>
      </setting>
      <setting name="TreeofLifeDimensions" serializeAs="String">
        <value>3,0|1,0|2,5</value>
      </setting>
      <setting name="TreeofLifeSoundName" serializeAs="String">
        <value>AltarOfKingsWhat1</value>
      </setting>
      <setting name="TownHallAdjustment" serializeAs="String">
        <value>0,0|0,0|-1,5</value>
      </setting>
      <setting name="TownHallDimensions" serializeAs="String">
        <value>4,0|1,0|3,0</value>
      </setting>
      <setting name="TownHallSoundName" serializeAs="String">
        <value>WorkshopWhat1.wav</value>
      </setting>
    </EasyTourism3D.Properties.ModelSettings>
    <EasyTourism3D.Properties.Settings>
      <setting name="TextureDirectory" serializeAs="String">
        <value>Assets\texturas\</value>
      </setting>
      <setting name="ModelDirectory" serializeAs="String">
        <value>Assets\models\</value>
      </setting>
      <setting name="SoundDirectory" serializeAs="String">
        <value>Assets\som\</value>
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>EasyTourism3D</value>
      </setting>
      <setting name="VersionNumber" serializeAs="String">
        <value>20.Jan.2009</value>
      </setting>
      <setting name="EasyTourism3D_WebService_EasyTourismServices"
        serializeAs="String">
        <value>http://localhost:11266/EasyTourismWebServices.asmx</value>
      </setting>
    </EasyTourism3D.Properties.Settings>
  </applicationSettings>
</configuration>